{% extends 'base.html' %}
{%load static%}
{% block contenido %}
<!-- banner section start -->
<div class="banner_section layout_padding">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="banner_taital">Horizonte Verde</h1>
                    <h2 class="banner_text">Hacia un futuro sostenible</h2>
                    <p class="banner_text">
                        Bienvenidos a Horizonte Verde, tu fuente confiable para explorar y comprender el apremiante desafío que enfrenta nuestro planeta: el cambio climático. En este espacio, nos sumergiremos en las complejidades de un fenómeno que está transformando la faz de la Tierra a un ritmo sin precedentes.  Desde eventos climáticos extremos hasta cambios en los ecosistemas, cada día presenciamos las huellas indelebles del impacto humano en nuestro entorno.
                    </p>          
                </div>
                <br><br><br> 
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="banner_taital">Noticias</h1>
                    <p class="banner_text">Las noticias más destacadas sobre el camabio climático. <br><br><br> <br><br><br></p>                 
                </div>
                <br><br><br> <br><br>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="banner_taital">Sumate</h1>
                    <p class="banner_text">Registrate hoy mismo y empezá a cambiar el mundo junto a nuestra comunidad. <br><br><br> <br><br><br> <br><br><br> <br><br><br></p>
                </div>
            </div>
        </div>
    </div>
 </div>
 <br><br><br> <br><br><br>
<!-- banner section end -->

<!-- noticias section start -->
<div class="noticias_section layout_padding">
    <div class="container">
        <h1 class="" style="text-align: center; color: white;">Noticias</h1>
    </div>
</div>
<p class="noticias_text" style=" text-align: center; color: white;">Aquí encontrarás las últimas noticias y actualizaciones.</p>
<div class="noticias_section_2">
    <div class="row">
        <!-- Imagen 1 -->
        <div class="col-md-4">
            <h2 style=" text-align: center; color: white;">Noticias sostenible</h2>
            <img src="static/images/blog-mobile-bg.png" alt="Noticias sostenible" style="width:100%; height:auto;">
            <div style="text-align: center;">
            <a href="{% url 'noticias:h_noticias' %}" style="color: white;" >VER MÁS NOTICIAS</a>  
            </div>
        </div>
        <!-- Imagen 2 -->
        <div class="col-md-4">
            <h2 style=" text-align: center; color: white;">Cuidemos el planeta</h2>
            <img src="static/images/footer-mobile-bg.png" alt="Cuidemos el planeta" style="width:100%; height:auto;">
            <div style="text-align: center;">
            <a href="{% url 'noticias:h_noticias' %}" style="color: white;" >VER MÁS NOTICIAS</a>  
            </div>
        </div>
        <!-- Imagen 3 -->
        <div class="col-md-4">
            <h2 style=" text-align: center; color: white;">Fenómenos climáticos</h2>
            <img src="static/images/climate-change.jpeg" alt="Fenómenos climáticos" style="width:100%; height:auto;">
            <div style="text-align: center;">
            <a href="{% url 'noticias:h_noticias' %}" style="color: white;" >VER MÁS NOTICIAS</a>  
            </div> 
        </div>
    </div>
</div>
<!-- noticias section end -->

<!-- video section start -->
 <div class="video_section layout_padding"> 
     <div class="container">
         <h2 class="video_taital"style="text-align: center; color: white;"  >INFORMATE EN NUESTRA SECCIÓN DE VIDEOS. <img src="static/images/youtub-icon.png"></h2>
         <p class="video_text" style="text-align: center; color: white;" >Aquí encontrarás una variedad de videos interesantes y educativos.</p>
         <div class="video_section_2" style="display: flex; justify-content: space-between;">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/-DHzfKcz3Hw" title="Desmonte Argentina" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             <iframe width="560" height="315" src="https://www.youtube.com/embed/GxWohx1_VOw" title="Documental Cambio Climático" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             <iframe width="560" height="315" src="https://www.youtube.com/embed/6Hs9ZinPV5I" title="Cambio climático ¿todavía estamos a tiempo?" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             <iframe width="560" height="315" src="https://www.youtube.com/embed/CIrNSNnbvJU" title="Cómo afecta el cambio climático a la Argentina" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
     </div>
 </div>
 <!-- video section end -->

 <!-- footer section start -->
<div class="footer_section layout_padding">
     <div class="location_main">
       <div class="call_text"><img src="static/images/call-icon.png"></div>
       <div class="call_text"><a href="#">Telefono +54 9 362 521-2782</a></div>
       <div class="call_text"><img src="static/images/mail-icon.png"></div>
       <div class="call_text"><a href="#">horizonteverde@gmail.com</a></div>
    </div>
    <div class="social_icon">
       <ul>
           <li><a href="https://www.facebook.com"><img src="static/images/fb-icon.png"></a></li>
           <li><a href="https://www.twitter.com"><img src="static/images/twitter-icon.png"></a></li>
           <li><a href="https://www.linkedin.com"><img src="static/images/linkedin-icon.png"></a></li>
           <li><a href="https://www.instagram.com"><img src="static/images/instagram-icon.png"></a></li>
       </ul>
    </div>
</div>   
<!-- footer section end -->
  
    <!-- Javascript files-->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/jquery-3.0.0.min.js"></script>
    <script src="static/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="static/js/custom.js"></script>
    <!-- javascript -->
    <script src="static/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
 
   
 
 </body>
 
 </html>

 
 {% endblock contenido %}