{% extends 'base.html' %}
{%load static%}
{% block contenido %}

<style>
    .ver-mas-enlace {
        color: white;
        transition: color 0.3s; /* Agrega una transición de color para un cambio suave */
    }

    .ver-mas-enlace:hover {
        color: rgb(112, 237, 10); /* Cambia el color al pasar el cursor sobre el enlace */
    }

    /* Estilos para secciones */
    .noticias_section h1,
    .noticias_text,
    .noticias_section_2 h2,
    .noticias_section_2 a,
    .video_taital,
    .video_text,
    .video_section_2 iframe,
    .galeria_taital,
    .galeria_text,
    .galeria_section_2 a {
        font-family: 'Century gothic', sans-serif; /* Cambiar la fuente según desees */
        color: #0f7d44; /* Cambiar el color de fuente según desees */
        text-align: center; /* Ajustar alineación del texto según desees */
    }
</style>

<!-- banner section start -->
<div class="banner_section layout_padding">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="banner_taital">Horizonte Verde</h1>
                    <h2 class="banner_text">Hacia un futuro sostenible</h2>
                    <p class="banner_text">
                        Bienvenidos a Horizonte Verde, tu fuente confiable para explorar y comprender el apremiante desafío que enfrenta nuestro planeta: el cambio climático. En este espacio, nos sumergiremos en las complejidades de un fenómeno que está transformando la faz de la Tierra a un ritmo sin precedentes.  Desde eventos climáticos extremos hasta cambios en los ecosistemas, cada día presenciamos las huellas indelebles del impacto humano en nuestro entorno.
                    </p>          
                </div>
                <br><br><br> 
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="banner_taital">Noticias y Videos</h1>
                    <p class="banner_text">Las noticias y Videos más destacados sobre el camabio climático. <br><br><br> <br><br><br></p>                 
                </div>
                <br><br><br> <br><br>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="banner_taital">Sumate</h1>
                    <p class="banner_text">Registrate hoy mismo y empezá a cambiar el mundo junto a nuestra comunidad. <br><br><br> <br><br><br> <br><br><br> <br><br><br></p>
                </div>
            </div>
        </div>
    </div>
 </div>
 <br><br><br> <br><br><br>
<!-- banner section end -->

<!-- noticias section start -->
<div class="noticias_section layout_padding">
    <div class="container">
        <h1 class="" style="text-align: center;font-size: 400%; color: rgb(112, 237, 10); font-weight: bold;">Noticias</h1>
    </div>
</div>
<p class="noticias_text" style="text-align: center;font-size: 200%; color: white;">Aquí encontrarás las últimas noticias y actualizaciones.</p><br><br><br>
<div class="noticias_section_2">
    <div class="row">
        <!-- Imagen 1 -->
        <div class="col-md-4">
            <h2 style="text-align: center; color: white;">Noticias sostenible</h2>
            <img src="static/images/blog-mobile-bg.png" alt="Noticias sostenible" style="width:100%; height:auto;">
            <div style="text-align: center;">
                <a href="{% url 'noticias:h_noticias' %}" class="ver-mas-enlace">Ver más noticias</a>
            </div>
        </div>
        <!-- Imagen 2 -->
        <div class="col-md-4">
            <h2 style="text-align: center; color: white;">Cuidemos el planeta</h2>
            <img src="static/images/footer-mobile-bg.png" alt="Cuidemos el planeta" style="width:100%; height:auto;">
            <div style="text-align: center;">
                <a href="{% url 'noticias:h_noticias' %}" class="ver-mas-enlace">Ver más noticias</a>
            </div>
        </div>
        <!-- Imagen 3 -->
        <div class="col-md-4">
            <h2 style="text-align: center; color: white;">Fenómenos climáticos</h2>
            <img src="static/images/climate-change.jpeg" alt="Fenómenos climáticos" style="width:100%; height:auto;">
            <div style="text-align: center;">
                <a href="{% url 'noticias:h_noticias' %}" class="ver-mas-enlace">Ver más noticias</a>
            </div> 
        </div>
    </div>
</div>
<!-- noticias section end -->
<br><br><br><br><br>
<!-- video section start -->
<div class="video_section layout_padding"> 
    <div class="container">
        <h2 class="video_taital" style="text-align: center;font-size: 400%; color: rgb(112, 237, 10); font-weight: bold;">Informate en nuestra sección de videos. <img src="static/images/youtub-icon.png"></h2>
        <p class="video_text" style="text-align: center;font-size: 200%; color: white;">Aquí encontrarás una variedad de videos interesantes y educativos.</p><br><br><br>
        <div class="video_section_2" style="display: flex; justify-content: space-between; gap: 20px; flex-wrap: wrap;">
            <iframe width="500" height="369" src="https://www.youtube.com/embed/-DHzfKcz3Hw" title="Desmonte Argentina" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="500" height="369" src="https://www.youtube.com/embed/GxWohx1_VOw" title="Documental Cambio Climático" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="500" height="369" src="https://www.youtube.com/embed/6Hs9ZinPV5I" title="Cambio climático ¿todavía estamos a tiempo?" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="500" height="369" src="https://www.youtube.com/embed/CIrNSNnbvJU" title="Cómo afecta el cambio climático a la Argentina" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="500" height="369" src="https://www.youtube.com/embed/4QEW0DHWIlg" title="5 revelaciones del informe de la ONU sobre cambio climático" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="500" height="369" src="https://www.youtube.com/embed/5kBMHvvWlcs" title="4 mitos sobre el cambio climático desmontados por la ciencia" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

 <!-- video section end -->
 <br><br><br><br>
<!-- Galería section start -->
<div class="galeria_section layout_padding">
    <div class="container">
        <h2 class="galeria_taital" style="text-align: center;font-size: 400%; color:rgb(112, 237, 10); font-weight: bold;">¡Sumate a la lucha!</h2>
        <p class="galeria_text" style="text-align: center;font-size: 200%; color: white;">Explora las siguientes páginas y sumate al cuidado de nuestro planeta.</p><br><br><br>
        <div class="galeria_section_2 row">
            <!-- Imagen 1 -->
            <div class="col-md-4">
                <a href="https://www.greenpeace.org/argentina/" style="color: white;">
                    <img src="static/images/greenpeace-1.jpg" alt="Únete a Greenpeace" style="width:100%; height:auto;">
                </a>
            </div>
            <!-- Imagen 2 -->
            <div class="col-md-4">
                <a href="https://theyearofgreta.com/" style="color: white;">
                    <img src="static/images/share-image.png" alt="Defiende el cambio climático con Greta Thunberg" style="width:100%; height:auto;">
                </a>
            </div>
            <!-- Imagen 3 -->
            <div class="col-md-4">
                <a href="https://www.acciona.com/es/cambio-climatico/?_adin=02021864894" style="color: white;">
                    <img src="static/images/acciona.jpg" alt="Sumate a Acciona" style="width:100%; height:auto;">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Galería section end -->




 <!-- footer section start -->
<div class="footer_section layout_padding">
     <div class="location_main">
       <div class="call_text"><img src="static/images/call-icon.png"></div>
       <div class="call_text"><a href="#">Telefono +54 9 362 521-2782</a></div>
       <div class="call_text"><img src="static/images/mail-icon.png"></div>
       <div class="call_text"><a href="#">horizonteverde@gmail.com</a></div>
    </div>
    <h2 class="" style="text-align: center;font-size: 100%; color:rgb(112, 237, 10); font-weight: bold;">Seguinos en nuestras redes</h2>
    <div class="social_icon">
       <ul>
           <li><a href="https://www.facebook.com"><img src="static/images/fb-icon.png"></a></li>
           <li><a href="https://www.twitter.com"><img src="static/images/twitter-icon.png"></a></li>
           <li><a href="https://www.linkedin.com"><img src="static/images/linkedin-icon.png"></a></li>
           <li><a href="https://www.instagram.com"><img src="static/images/instagram-icon.png"></a></li>
       </ul>
    </div>
</div>   
<!-- footer section end -->
  
    <!-- Javascript files-->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/jquery-3.0.0.min.js"></script>
    <script src="static/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="static/js/custom.js"></script>
    <!-- javascript -->
    <script src="static/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
 
   
 
 </body>
 
 </html>

 
 {% endblock contenido %}