{% extends 'base.html' %}

{% block contenido %}
  
  
  <!-- videos section start -->
<div class="videos_section layout_padding">
   <div class="container">
       <h1 class="videos_taital">Mira estos videos</h1>
       <p class="videos_text">Aquí encontrarás una variedad de videos interesantes y educativos.</p>
       <div class="play_icon_main">
           <div class="play_icon"><a "><img src="{% static 'images/play-icon.png' %}" alt="Play Icon"></a></div>
       </div>
   </div>
</div>
<!-- videos section end -->
<br><br><br>
{% endblock contenido %}