{% extends 'base.html' %}


{% block contenido %}
<b><h1 style="text-align: center; background-color: lightblue; text-justify: inter-word; margin: 20px;">EFECTOS DEL CAMBIO CLIMÁTICO</h1></b>


<b><p style= "color: rgb(6, 228, 240); text-align: justify; margin: 30px;">Elevación de las temperaturas<br><br></b>
A medida que se eleva la concentración de gases de efecto invernadero, también lo hace la temperatura de la superficie del planeta. En la última década, del 2011 al 2020, se ha registrado el mayor calentamiento hasta la fecha. Desde los años 80, cada década ha sido más cálida que la anterior. En casi todas las zonas se han producido más olas de calor y días más calurosos. La elevación de las temperaturas provoca un aumento en las enfermedades relacionadas con el calor y hace que trabajar en exteriores sea más difícil. Se producen incendios incontrolados con mayor facilidad y se extienden más rápidamente cuando el ambiente es más cálido. Las temperaturas del Ártico se han elevado al menos el doble de rápido que la media mundial.<br><br><p</p>


<b>Tormentas más potentes<br><br></b>
Las tormentas destructivas se han vuelto más intensas y más frecuentes en muchas regiones. A medida que se elevan las temperaturas se evapora mayor humedad, lo que causa inundaciones y precipitaciones extremas, provocando más tormentas destructivas. El calentamiento del océano también afecta a la frecuencia y magnitud de las tormentas tropicales. Los ciclones, huracanes y tifones se alimentan de las aguas templadas de la superficie del océano. Estas tormentas destruyen a menudo hogares y comunidades enteras, lo que provoca pérdidas ingentes en la economía y en vidas humanas.<br><br>


<b>Aumento de las sequías<br><br></b>
El cambio climático está modificando la disponibilidad de agua, al hacerla más escasa en más regiones. El calentamiento global genera escasez de agua en regiones ya de por sí secas, y está incrementando el riesgo de sequías agrícolas que afectan a cultivos y sequías ecológicas que aumentan la vulnerabilidad de los ecosistemas. Las sequías también pueden provocar destructivas tormentas de arena y polvo capaces de desplazar miles de millones de toneladas de arena de un continente a otro. Los desiertos se expanden y se reducen las tierras aptas para el crecimiento de cultivos. Mucha gente se enfrenta a períodos habituales de escasez de agua.<br><br>


<b>Aumento del nivel del océano y calentamiento del agua<br><br></b>
El océano absorbe la mayor parte del calor generado por el calentamiento global. El ritmo al que se ha elevado el calentamiento del océano ha aumentado considerablemente durante las últimas dos décadas a todas las profundidades. A medida que se calienta el océano, su volumen aumenta porque el agua se expande. El deshielo de las placas de hielo y los icebergs hace que se eleve el nivel del mar amenazando a las comunidades litorales e insulares. Además, el océano absorbe dióxido de carbono y evita su acumulación en la atmósfera. Pero un mayor contenido de dióxido de carbono hace que el océano se acidifique más, lo que pone en peligro tanto a las especies marinas como a los arrecifes de coral.<br><br>


<b>Desaparición de especies<br><br></b>
El cambio climático pone en riesgo la supervivencia de las especies terrestres y oceánicas. Estos riesgos aumentan a medida que ascienden las temperaturas. Debido a la potencia del cambio climático exacerbado, en el mundo se extinguen especies a un ritmo 1000 veces mayor que en cualquier otra época de la que se tenga constancia en la historia humana. Un millón de especies están en riesgo de extinguirse en las próximas décadas. Los incendios forestales, un clima extremo y la invasión de plagas con la aparición de enfermedades, todo esto está entre las amenazas relacionadas con el cambio climático. Algunas especies serán capaces de adaptarse geográficamente, pero otras, no.<br><br>


<b>Escasez de alimentos<br><br></b>
Los cambios en el clima y el aumento de condiciones meteorológicas extremas son algunos de los motivos que provocan un aumento global en la desnutrición en las poblaciones más pobres. Los recursos pesqueros, los cultivos y el ganado pueden desaparecer o volverse menos productivos. Debido a una continua acidificación oceánica, los recursos marinos que dan alimento a miles de millones de personas se encuentran en riesgo. Los cambios en las capas de nieve y hielo de los casquetes polares han alterado el suministro de alimentos generados por la ganadería, la caza y la pesca. Un calor extremo puede hacer disminuir el agua y los pastizales destinados a la ganadería, provocando una disminución de la producción agrícola y afectando al ganado.<br><br>


<b>Más riesgos para la salud<br><br></b>
El cambio climático supone la mayor amenaza única para la salud de la humanidad. El cambio climático ya daña de hecho la salud, a través de la contaminación, las enfermedades, los fenómenos meteorológicos extremos, los desplazamientos forzados, las presiones en la salud mental, así como un aumento del hambre y la desnutrición en lugares donde las personas no pueden producir o encontrar alimentos suficientes. Cada año, los factores medioambientales acaban con la vida de cerca de 13 millones de personas. Los patrones del cambio climático están extendiendo enfermedades, los fenómenos meteorológicos extremos producen más muertes y dificultan la capacidad de los sistemas sanitarios para soportar la presión.<br><br>


<b>Pobreza y desplazamiento<br><br></b>
El cambio climático aumenta los factores que llevan y mantienen a la gente en la pobreza. Las inundaciones pueden arrasar barrios marginales, destruyendo hogares y comunidades. El calor dificulta la ejecución de trabajos en el exterior. La escasez de agua puede afectar a los cultivos. Durante la última década (2010-2019), los sucesos relacionados con el clima desplazaron a un total aproximado de 23,1 millones de personas de media al año, aumentando sus probabilidades de caer en la pobreza. Muchos refugiados provienen de países que son más vulnerables y menos preparados para adaptarse a los efectos del cambio climático.<br><br>

Extraído de distintas fuentes de la ONU.
<br><br><br>


<b><h1 style="text-align: center; background-color: lightblue; text-justify: inter-word; margin: 20px;">CAUSAS DEL CAMBIO CLIMÁTICO</h1></b>
<p style="text-align: justify; margin: 30px;">Los combustibles fósiles (carbón, petróleo y gas) son, con diferencia, los que más contribuyen al cambio climático mundial, ya que representan más del 75 % de las emisiones mundiales de gases de efecto invernadero y casi el 90 % de todas las emisiones de dióxido de carbono.</h1><p</p>

	    A medida que las emisiones de gases de efecto invernadero cubren la Tierra, atrapan el calor del sol, lo que conduce al calentamiento global y al cambio climático. El mundo se calienta ahora más rápido que en cualquier otro momento de la historia del que haya registros. Con el tiempo, las temperaturas más cálidas están cambiando los patrones climáticos y alterando el equilibrio normal de la naturaleza. Esto plantea muchos riesgos para los seres humanos y todas las demás formas de vida de la Tierra.<br><br>
		
		
	<b>La generación de energía<br><br></b>
		
		La generación de electricidad y calor a través de los combustibles fósiles provoca una gran cantidad de emisiones globales. La mayoría de la electricidad se genera todavía con la combustión de carbón o gas, lo que produce dióxido de carbono y óxido nitroso, que son potentes gases de efecto invernadero que cubren el planeta y atrapan el calor proveniente del sol. A nivel global, algo más de un cuarto de la electricidad proviene de fuentes de energía renovables eólicas y solares que, al contrario que los combustibles fósiles, emiten poca o ninguna cantidad de gases o contaminantes en el aire.<br><br>
		
		
	<b>Productos de fabricación<br><br></b>
		La industria y las fábricas producen emisiones, en su mayoría provenientes de la quema de combustibles fósiles destinada a generar energía para la fabricación de cemento, hierro, acero, componentes electrónicos, ropa y otros bienes. La minería y otros procesos industriales también generan gases, de la misma forma que lo hace el sector de la construcción. La maquinaria utilizada en los procesos de fabricación a menudo realizados mediante carbón, petróleo o gas, y con algunos materiales, como los plásticos, están compuestos de sustancias químicas derivadas de los combustibles fósiles. La industria manufacturera es una de las que más contribuyen a las emisiones de gases de efecto invernadero a nivel mundial.<br><br>
		
		
	<b>La tala de los bosques<br><br></b>
		La tala de bosques a fin de crear granjas o pastos, o por otros motivos, provoca emisiones dado que cuando se talan sus árboles se libera el carbono que estos han estado almacenando. Cada año se destruyen aproximadamente 12 millones de hectáreas de bosques. Puesto que los bosques absorben el dióxido de carbono, su destrucción también limita la capacidad de la naturaleza para mantener estas emisiones fuera de la atmósfera. La deforestación, junto con la agricultura y otros cambios en la utilización de los suelos, es responsable de aproximadamente un cuarto de las emisiones de gases de efecto invernadero.<br><br>
		
		
	<b>El uso del transporte<br><br></b>
		La mayoría de camiones, barcos y aeronaves funcionan con combustibles fósiles. Esto hace que el transporte sea uno de los sectores que más contribuyen a generar gases de efecto invernadero, especialmente en lo que a emisiones de dióxido de carbono se refiere. Los vehículos terrestres son responsables de la mayor parte, debido a la combustión de productos derivados del petróleo, como la gasolina, en los motores de combustión interna. Sin embargo, las emisiones provenientes de barcos y aeronaves siguen aumentando. El transporte es responsable de cerca de un cuarto de las emisiones de dióxido de carbono relacionadas con la energía a nivel global. Y la tendencia es que continúe este importante aumento del uso de la energía para el transporte durante los próximos años.<br><br>
		
		
	<b>La producción de alimentos<br><br></b>
		La producción de alimentos provoca emisiones de metano, dióxido de carbono y otros gases de efecto invernadero, de diferentes maneras, en lo que se incluye la deforestación y la roturación de tierras para la agricultura y el pastoreo, la alimentación del ganado bovino y ovino, la producción y uso de fertilizantes y el abono utilizado para los cultivos, además del uso de la energía que hace funcionar el equipo de las granjas o los barcos pesqueros, siendo normalmente con combustibles fósiles. Todo esto hace que la producción de alimentos sea uno de los sectores que más contribuyen al cambio climático. Además, las emisiones de efecto invernadero también provienen del envasado y la distribución de los alimentos.<br><br>
		
		
	<b>La energía en los edificios<br><br></b>
		A nivel global, tanto los edificios residenciales como los comerciales consumen más de la mitad de la electricidad total. Como siguen utilizando carbón, hidrocarburos y gas natural para los sistemas de calefacción y climatización, emiten cantidades importantes de gases de efecto invernadero. La creciente demanda de sistemas de calefacción y climatización, junto con el aumento en la adquisición de aparatos de aire acondicionado y en consumo eléctrico por parte de aparatos de iluminación y dispositivos conectados, ha contribuido a un aumento en las emisiones de dióxido de carbono relacionadas con la energía y que tiene su origen en las edificaciones, en los últimos años.<br><br>
		
		
	<b>Un consumo excesivo<br><br></b>
		Su hogar, el uso que hace de la energía, el modo de desplazarse, lo que come, lo que derrocha, todo ello afecta a la emisión de gases de efecto invernadero. Y lo mismo ocurre con el consumo de bienes como la ropa, los componentes electrónicos y los productos fabricados en plástico. Un gran porcentaje de las emisiones de gases de efecto invernadero están ligadas a los hogares particulares. Nuestro estilo de vida tiene un profundo impacto en el planeta. Los más ricos son los que tienen mayor responsabilidad: el 1 por ciento de la población mundial con mayor riqueza, en conjunto genera más emisiones de gases de efecto invernadero que el 50 por ciento más pobre.<br><br>
		Extraído de distintas fuentes de la ONU.
		<br><br><br>
		
{% endblock contenido %}