{% extends 'home.html' %}

{% block contenido %}
<style>
    body {
        color: rgb(112, 237, 10);
        font-family: 'Century Gothic', sans-serif; 
        background-size: cover;
    }

    form {
        max-width: 400px; 
        margin: 0 auto;   
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    p {
        margin: 15px;
        font-family: 'Century Gothic', serif; 
        color: rgb(112, 237, 10); 
        font-weight: bold;
        font-size: 24px;
        text-align: center;
    }

    input[type="submit"] {
        width: 100%; 
        background-color: hsl(127, 49%, 35%); 
        color: white;
        font-family: 'Century Gothic', monospace; 
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        box-shadow: inset 0 0 5px black;
    }

    label {
        display: block; 
        margin-bottom: 15px; 
        color: rgb(112, 237, 10);
        font-size: 16px;
    }

    input[type="text"], input[type="email"], textarea {
        width: 100%; 
        box-sizing: border-box; 
        padding: 10px;
        margin-bottom: 15px; 
        border: 2px solid hsl(127, 49%, 35%);
        border-radius: 5px;
        outline: none;
    }

    input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
        border-color: hsl(127, 49%, 35%);
    }
</style>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}         
    <p>CREAR NOTICIA</p>
    {{ form.as_p }}
    <p><input type="submit" value="CONFIRMAR"></p>
</form>
<br><br><br><br>
{% endblock contenido %}
