{% extends 'home.html' %}

{% block contenido %}

<style>
    h2{
        color: white; 
        font-family: Arial;
        text-align: justify; 
        font-size: 20px;
        margin-left: 20px; 

    }

    h1 {
        color: white;
        font-family: 'Berlin sans fb', sans-serif; 
        margin-left: 3%;
        font-size: 30px;
        text-align: center; 
        text-decoration: underline;
        text-decoration-color: green;
    }

    p {
        color: white; 
        font-family: Arial;
        text-align: justify; 
        font-size: 20px;
        margin-left: 200px; 
        margin-right: 200px
    }

    textarea[name="comentario"] {
        width: 50%; 
        height: 200px; 
		margin-left: 1%;
    }

    .button-style {
      background-color: hsl(127, 49%, 35%);
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
     /* width: 150px; */
      margin-left: 1%; 
      display: inline-block;
    }
</style>

<br><br><br>
<h1>{{noticia.titulo}}</h1>
<br>
<p>{{noticia.contenido|linebreaksbr}}</p>
<br>
<p><img src="{{noticia.imagen.url}}" width="750px"></p>
<br>
<h2>COMENTARIOS</h2><br>
{% for c in comentarios %}
    <div>
        <h2>{{c.usuario}} : {{c.texto}}</h2><br>
        {% if request.user == c.usuario %}
           <a class="button-style" href="{% url 'comentarios:modificar_comentario' c.pk%}" >Modificar Comentario</a>
        {% endif %}
        {% if request.user == c.usuario or request.user.is_staff %}
           <a class="button-style" href="{% url 'comentarios:borrar_comentario' c.pk%}" >Borrar Comentario</a> 
        {% endif %}
    </div>
    <br>
{% endfor %}
<br>
{% if request.user.is_authenticated %}
<form method="POST" action="{% url 'comentarios:agregar' noticia.pk %}">{% csrf_token %}
    <textarea name="comentario"></textarea>
	<br>
    <input class="button-style" type="submit" name="" value="COMENTAR">
</form>
<br><br>
{% endif %}

{% endblock contenido %}

