{% extends 'home.html' %}


{% block contenido %}

<style>
	h1 {
		color: white; 
		font-family: 'Berlin sans fb', sans-serif; 
	}

	p {
		color: white; 
		font-family: 'Century gothic', sans-serif;
		text-align: justify; 
	}
</style>

	<h1>Detalle de... <br>{{noticia.titulo}}</h1>
	
	<p>{{noticia.contenido|linebreaksbr}}</p>
	<p><img src="{{noticia.imagen.url}}" width="450px"></p>

	

	<hr><hr>

	<h4>COMENTARIOS</h4>

	{% for c in comentarios %}
		<div>
			{{c.usuario}} : {{c.texto}} 
			{% if request.user == c.usuario %}
			<a href="{% url 'comentarios:borrar_comentario' c.pk%}">borrar</a> - <a href="{% url 'comentarios:modificar_comentario' c.pk%}">modificar</a>
			{% endif %}
		</div>
	{% endfor %}

	{% if request.user.is_authenticated %}
	<form method="POST" action="{% url 'comentarios:agregar' noticia.pk %}">{% csrf_token %}
		<textarea name="comentario"></textarea>
		<input type="submit" name="" value="COMENTAR">
	</form>
	{% endif %}

	<div style="height: 100px;"></div>

{% endblock contenido %}
