{% extends 'home.html' %}


{% block contenido %}

<style>
    h1 {
        color: white; 
        font-family: 'Berlin sans fb', sans-serif; 
    }

    p {
        color: white; 
        font-family: 'Century gothic', sans-serif;
        text-align: justify; 
    }

    
    textarea[name="comentario"] {
        width: 50%; 
        height: 200px; 
		margin-left: 1%;
    }

    input[type="submit"] {
      background-color: hsl(127, 49%, 35%);
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      width: 100px; 
      margin-left: 1%; 
      display: inline-block;
    }
</style>

<h1>Detalle: <br><br> {{noticia.titulo}}</h1>

<p>{{noticia.contenido|linebreaksbr}}</p>
<p><img src="{{noticia.imagen.url}}" width="750px"></p>

<hr>

<h1>COMENTARIOS</h1>
<br>
{% for c in comentarios %}
    <div>
        <p>{{c.usuario}} : {{c.texto}}</p>
        {% if request.user == c.usuario %}
        <a href="{% url 'comentarios:borrar_comentario' c.pk%}"><p>Borrar Comentario</p></a>   <a href="{% url 'comentarios:modificar_comentario' c.pk%}"><p>Modificar Comentario</p></a>
        {% endif %}
    </div>
{% endfor %}
<br>
{% if request.user.is_authenticated %}
<form method="POST" action="{% url 'comentarios:agregar' noticia.pk %}">{% csrf_token %}
    <textarea name="comentario"></textarea>
	<br>
    <input type="submit" name="" value="COMENTAR">
</form>
<br><br>
{% endif %}


{% endblock contenido %}
