{% extends 'home.html' %}

{% block contenido %}
<style>
    body {
        color: white;
        font-family: Arial, sans-serif;
    }
    .news-section {
        margin: 0 auto;
        width: 80%;
    }
    .news-item {
        border: 1px solid #ccc;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .news-item h2 {
        color: white; 
        font-size: 2em;
    }
    .news-item p {
        color: white;
        text-align: justify;
        text-justify: inter-word;
        white-space: pre-line;
    }
    .news-item img {
        max-width: 100%;
        height: auto;
    }
    .news-item a {
        color: rgb(112, 237, 10);
        text-decoration: none;
    }
    .news-item a:hover {
        text-decoration: underline;
    }
    .news-item button, .news-item a {
        background-color: hsl(127, 49%, 35%);
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        width: 100px auto; 
        margin: 10px auto; 
        display: inline-block; 
    }
    .news-item button:hover, .news-item a:hover {
        background-color: hsl(127, 49%, 50%);
    }
    .title {
    background-color: hsl(127, 49%, 50%);
    font-size: 2em;
    text-align: center;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px auto;
}


</style>

<div class="title">DISFRUTA DE LAS ÚLTIMAS NOTICIAS</div>
<br><br><br><br>
{{ fecha }}

{% for n in noticias %}
    <div class="news-item">
        <h2>{{ n.titulo }}</h2>
        
        {% if n.contenido|length > 100 %}
            <p>
                <span id="contenido-preview-{{ n.pk }}">{{ n.contenido|slice:":100" }}</span>
                <span id="contenido-full-{{ n.pk }}" style="display: none;">{{ n.contenido }}</span>
            </p>
            <button data-noticia-id="{{ n.pk }}" onclick="mostrarMas(this)">Ver más</button>
            <button data-noticia-id="{{ n.pk }}" onclick="mostrarMenos(this)" style="display: none;">Ver menos</button>
        {% else %}
            <p>
                {{ n.contenido }}
            </p>
        {% endif %}

        <a class="boton-noticia" href="{% url 'noticias:detalle_noticia' n.pk %}">Ver noticia completa</a>
        <a class="boton-noticia" href="{% url 'noticias:modificar_noticia' n.pk %}">Modificar</a>
        <a class="boton-noticia" href="{% url 'noticias:borrar_noticia' n.pk %}">Borrar</a>

        <!-- Mostrar la imagen -->
        <img src="{{ n.imagen.url }}" alt="Imagen de la noticia">
    </div>
{% endfor %}

<script>
    function mostrarMas(boton) {
        var noticiaId = boton.getAttribute("data-noticia-id");
        var contenidoPreview = document.getElementById("contenido-preview-" + noticiaId);
        var contenidoFull = document.getElementById("contenido-full-" + noticiaId);
        var botonVerMas = boton;
        var botonVerMenos = document.querySelector('[data-noticia-id="' + noticiaId + '"][onclick="mostrarMenos(this)"]');

        contenidoPreview.style.display = "none";
        contenidoFull.style.display = "inline";
        botonVerMas.style.display = "none";
        botonVerMenos.style.display = "inline";
    }

    function mostrarMenos(boton) {
        var noticiaId = boton.getAttribute("data-noticia-id");
        var contenidoPreview = document.getElementById("contenido-preview-" + noticiaId);
        var contenidoFull = document.getElementById("contenido-full-" + noticiaId);
        var botonVerMas = document.querySelector('[data-noticia-id="' + noticiaId + '"][onclick="mostrarMas(this)"]');
        var botonVerMenos = boton;

        contenidoPreview.style.display = "inline";
        contenidoFull.style.display = "none";
        botonVerMas.style.display = "inline";
        botonVerMenos.style.display = "none";
    }
</script>





{% endblock contenido %}
