{% extends 'home.html' %}

{% block contenido %}
	
<style>
    input[type="submit"] {
        background-color: hsl(127, 49%, 35%);
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        width: 100px; 
        margin: 10px auto; 
        display: inline-block;
    }
</style>

<form method="post" action="/eliminar">{% csrf_token %}
    <p style="color:white;">Estás seguro que desa eliminar?: "{{ object }}"?</p>
    {{ form }}
    <input type="submit" value="CONFIRMAR">
</form>
<br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock contenido %}