{% extends 'base.html' %}

{% block contenido %}

<style>
  input[type="submit"] {
      background-color: hsl(127, 49%, 35%);
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      width: 100px; 
      margin: 10px auto; 
      display: inline-block;
  }
</style>


  <div>
        <form action="" method="post">{% csrf_token %}         
         <h3 class="mb-4">MODIFICAR COMENTARIO: "{{object.texto}}"</h3>
          {{form.as_p}}
          <p><input type="submit"  value="Confirmar"></p>
        </form>
     
  </div>

{% endblock contenido %}